<div class="card sidebar">
    <h1 class="site-title">Languages of Gradia</h1>
    <ul class="language-nav">
        <li>
            <a class="language-nav-header" href="/">Home</a>
        </li>

        {% for lang in languages %}
        <li>
            <span class="language-nav-header">{{ lang.name | capitalize }}</span>
            <ul>
                <li><a href="/dict.html?lang={{ lang.name }}">Dictionary</a></li>
                <li><a href="/grammar.html?lang={{ lang.name }}">Grammar</a></li>
            </ul>
        </li>
        {% endfor %}

    </ul>
</div>
