@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

:root {
  --bg-dark: #202028;
  --bg-light-trans: #9994;

  --fg-lightest: #ddd;
  --fg-light: #999;
  --fg-light-trans: #9998;
  --fg-mid: #448;
  --fg-dark: #334;

  --title-font: "Kaushan Script", system-ui;
  --title-font-size: 1.25em;
  --logo-font-size: 2.5rem;
  --logo-margin-top: -0.2em;
  --nav-font-size: 1.5rem;
  --nav-margin-top: 0.25em;

  --bg-image: url('/images/ricepaper.jpg');
  --bg-image-height: 250px;

  --site-width: 75rem;

  --color-primary: #334;
}

body {
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-height: 100svh;
  margin: 0;
  padding: 0;
  background: var(--bg-dark);
  font-size: 1.5em;
}

h1, h2 {
  font-family: var(--title-font);
  margin-bottom: 0;
  a {
    font-size: var(--title-font-size);
    text-decoration: none;
  }
}

h3, h4, h5, h6 {
    margin-bottom: 0;
}

h1 {
  font-weight: bolder;
  font-style: normal;
  font-size: 2.5em;
}

body > nav {
  margin-top: 8px;
  font-family: var(--title-font);
  font-weight: bolder;
  font-style: normal;
  font-size: var(--logo-font-size);
}

nav.tabs {
  font-weight: bolder;
}

main > div, nav > div, footer > div {
  max-width: var(--site-width);
  margin: auto;
}

main {
  flex-grow: 1;
  background: var(--bg-image);
  background-repeat: repeat;
  background-size: var(--bg-image-height);
  color: var(--fg-dark);
}

main a {
  color: var(--fg-mid);
  text-decoration: underline;
}

main a.missing::after {
    content: " \22A0";
    color: red;
    font-size: 0.6em;
    vertical-align: super;
}

main a:hover {
  color: var(--fg-light);
}

a.external::after {
    content: "";
    width: 11px;
    height: 11px;
    margin-left: 4px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z'/%3E%3Cpath fill-rule='evenodd' d='M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z'/%3E%3C/svg%3E");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
}

p {
    margin-top: 0.5em;
    line-height: 1.6;
}

sub {
    font-size: 0.6em;
}

img {
  max-width: 100%;
  border-radius: 0.2rem;
}

blockquote {
  border-left: 5px solid var(--fg-light-trans);
  margin: 1.0em 10px;
  padding: 0 1em;
  p {
    font-style: italic;
  }
}

div.sidebar {
    float: right;
    width: 30%;
    background-color: var(--bg-light-trans);
    padding: 0 1.5em;
    mask: radial-gradient(20px at 40px 40px, transparent 98%, black) -40px -40px;
}

table {
  border-collapse: collapse;
  margin: auto;
}

.listpage-table {
    margin: 0;
}

.listpage-table td {
    padding-right: 2rem;
}

td, th {
  padding: 0.3rem 0.5rem;
}

tr:nth-child(even) {
    background-color: #ccc5;
}

nav ul {
  list-style: none;
  display: flex;
  flex-flow: row-reverse wrap-reverse;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin-top: var(--nav-margin-top);
  font-size: var(--nav-font-size);
}

nav ul li.logo {
  margin-top: var(--logo-margin-top);
  font-size: var(--logo-font-size);
}

nav ul li:nth-child(1) {
  order: 7;
  flex-grow: 1;
}

nav ul li:nth-child(2) { order: 6; }
nav ul li:nth-child(3) { order: 5; }
nav ul li:nth-child(4) { order: 4; }

nav ul li:nth-child(5) { order: 3; }
nav ul li:nth-child(6) { order: 2; }
nav ul li:nth-child(7) { order: 1; }

nav ul li a {
  color: white;
  padding: 0 1.5rem 0 0;
  text-decoration: none;
}

.nav-icon {
    margin-top: 2px;
    margin-bottom: -2px;
}

.heading-underline {
  color: var(--fg-light-trans);
  border: 0;
  border-bottom: 1px solid var(--fg-light-trans);
  margin-top: 0;
}

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
}

.tags-box {
  float: right;
  border: 2px solid var(--bg-dark);
  border-radius: 10px;
  margin: 1rem 0.5rem;
  font-size: 0.8em;
  padding: 0.25rem;
}

ul.tags-list {
  list-style: none;
  padding: 0 4px;
  margin: 1px;

  li {
    border-radius: 8px;
    background-color: var(--fg-light-trans);
    color: var(--bg-dark);
    margin-top: 8px;
    margin-bottom: 8px;
    padding: 0 0.5em;
    text-align: center;
    font-weight: bold;

    a {
      text-decoration: none;
    }
  }
}

ul.related {
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  padding: 0;
  font-size: 0.75em;
  justify-content: center;

  li {
    text-align: left;
    border: 1px solid var(--bg-dark);
    border-radius: 8px;
    width: 25%;
    margin: 0 0 1em 1em;
    padding: 0.5em 1em;
  }
}

ul.index {
  width: 100%;
  list-style: none;
  columns: 3;
  padding: 0;
  font-size: 0.75em;
  min-height: 80dvh;
  width: 100%;

  li {
    text-align: left;
    margin: 0 0 1em 1em;
    padding: 0 1em;

    h1 {
        margin: 0;
    }
  }
}


.lastmod {
    margin-top: 2rem;
    margin-bottom: 0.5rem;
    width: 100%;
    text-align: right;
    font-size: small;
}

footer {
  text-align: right;
  font-size: small;
  margin: 0.5rem 0;
  color: var(--fg-light);
  a {
    color: var(--fg-lightest);
  }
}

.wordlist {
    display: flex;
    flex-flow: row wrap;
    margin: 1rem;

    div {
        width: 15rem;
        margin: 0.25rem 0.5rem;
    }
}

.ipa {
    color: gray;
    font-size: smaller;
    font-weight: lighter;
}

.ipa::before {
    content: '/';
}

.ipa::after {
    content: '/';
}

.card {
    margin: 20px;
}

.gridjs-th {
    padding: 6px 16px !important;
}

.gridjs-td {
    padding: 6px 16px !important;
}