{{ define "main" }}

<h1>The Languages of Gradia & Zōayage</h1>

<div class="card pull-right">
  <img src="/images/quill.jpg" width="250"><br>
  <small>Photo by <a href="https://unsplash.com/@chris_chow">Chris Chow</a> on
  <a href="https://unsplash.com/photos/white-feather-on-black-metal-cup-YO8KdpMh0PY">Unsplash</a></small>
</div>

<section>
    {{ .Content }}
</section>

    {{ range .Site.RegularPages.ByLinkTitle }}
    <section class="language-section">
        <h2>{{ .LinkTitle }}</h2>
        {{ with .Summary }}{{ . }}{{ end }}
        <div><a href="{{ .RelPermalink }}">Description</a> | <a href="{{ .RelPermalink }}#lexicon">Lexicon</a> | <a href="{{ .RelPermalink }}#generator">Generator</a></div>
    </section>
    {{ end }}

{{ end }}
