{% extends "base.html" %}
{% block content %}

    <h1 id="page-title" class="page-title">A Contstructed Language</h1>

    <p id="language-desc"></p>

    <div>
        <input id="query" type="text" style="width: 100%;"/>
        <div id="result">
            <p class="no-result">A searchable online dictionary. Enter any English or conlang word above.</p>
        </div>

        {% raw %}
        <template id="no-result-template">
            <p class="no-result">A searchable online dictionary. Enter any English or {{name}} word above.</p>
        </template>

        <template id="word-template">
            {{#each words}}
            <div class="card">
                <header>
                    <span class="word">{{word}}</span> <i>{{pronunciation}}</i>
                </header>
                <i>{{pos}}</i> {{definition}}
            </div>
            {{/each}}
        </template>
        {% endraw %}

        <script type="module">
            import { initialize } from "./js/dict.js";
            let searchParams = new URLSearchParams(document.location.search);
            let lang = searchParams.get("lang");

            let header = document.getElementById("page-title");
            let language_desc = document.getElementById("language-desc");
            let result = document.getElementById("result");

            let noResultTemplate = document
                .getElementById("no-result-template")
                .innerHTML;
            let renderNoResult = Handlebars.compile(noResultTemplate);

            fetch(`/languages/${lang}/info.json`)
                .then(resp => resp.json())
                .then(data => {
                    header.innerHTML = `The ${data.name} language`;
                    language_desc.textContent = data.description;
                    result.innerHTML = renderNoResult(data);
                });

            let wordTemplate = document
                .getElementById("word-template")
                .innerHTML;
            let renderWords = Handlebars.compile(wordTemplate);

            let query = document.getElementById("query");
            const dict = initialize(`/languages/${lang}/dict.json`);
            query.addEventListener("input", event => {
                result.innerHTML = renderWords({words: dict.lookup(query.value)});
            });
        </script>
    </div>

{% endblock %}