{% extends 'base.html' %}
{% block head %}
    {{ super() }}
    <link href="/css/vulgarlang.css" rel="stylesheet" />
{% endblock %}

{% block content %}

    <div class="container" id="main-container">
    </div>
    <script type="module">
        let searchParams = new URLSearchParams(document.location.search);
        let lang = searchParams.get("lang");

        let container = document.getElementById("main-container");
        let elem = await fetch(`/languages/${lang}/grammar.html`)
            .then(resp => resp.text())
            .then(text => {
                let t = document.createElement("div");
                t.innerHTML = text;

                let fragment = document.createDocumentFragment();
                fragment.append(t);

                /*
                // Remove the page header material
                ["meta", "title"].forEach(name => {
                    let elems = t.getElementsByTagName(name);
                    for (let i = 0; i < elems.length; i++)
                        elems[i].remove();
                })

                // Remove the dictionary portion; we'll provide a better one elsewhere
                let elems = t.getElementsByClassName("vl__dictionary-container");
                for (let i = 0; i < elems.length; i++)
                    elems[i].remove();

                container.innerHTML = t.innerHTML;
                */

                [...t.getElementsByClassName("vl__the-language-of")].forEach(e => {
                    e.classList.replace("vl__the-language-of", "page-title");
                });

                let elems = [
                    fragment.querySelector("#lang-name"),
                    fragment.querySelector("#lang-phon"),
                    fragment.querySelector("#main-word-order").parentElement,
                ];

                elems.forEach(e => {
                    e.classList.add("grammar-section");
                    container.append(e);
                });
            });
    </script>

{% endblock %}